...

  <div class="row">

    {{#with articles.article1}}
      {{> column}}
    {{/with}}

    {{#with articles.article2}}
      {{> column}}
    {{/with}}

    {{#with articles.article3}}
    {{> column}}
    {{/with}}

  </div>

...
